/*
{
  "name": "Blur",
  "author": "Nick Oates",
  "description": "Adds backdrop blur behind the player, title bar, and context menus."
}
*/

:root {
	--blur-background: color-mix(
		in srgb,
		var(--wave-color-solid-base-brighter),
		transparent 60%
	);
	--blur-radius: 16px;
}

#footerPlayer {
	backdrop-filter: blur(var(--blur-radius));
}

[data-type="page"],
.__NEPTUNE_PAGE {
	padding-bottom: 128px;
}

[class^="containerRow"] {
	max-height: none !important;
}

[class^="mainContainer"] {
	height: 100vh !important;
	background-color: inherit;
}

[class^="bar"] {
	position: absolute;
	z-index: 100;
	backdrop-filter: blur(var(--blur-radius));
}

[class^="sidebarWrapper"],
[class^="contentArea"],
#main {
	padding-top: 30px;
}

[class^="contextMenu--"]::before,
[class^="subMenu--"]::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	backdrop-filter: blur(var(--blur-radius));
	border-radius: 9px;
	pointer-events: none;
	z-index: -5;
	background-color: var(--blur-background);
}

[class^="contextMenu"],
[class^="subMenu--"] {
	position: relative;
	background-color: transparent;
}

#footerPlayer,
#sidebar,
[class^="bar"],
[class*="audioQualityContainerHover--"]:hover,
[class*="selectItem--"]:hover,
[class*="createNewPlaylist--"]:hover {
	background-color: var(--blur-background) !important;
}

[class^="sidebarWrapper"] {
	padding-bottom: 96px;
}

#feedSidebar,
#playQueueSidebar,
[class*="playQueueWithoutHeader--"] button {
	background-color: var(--blur-background);
	backdrop-filter: blur(var(--blur-radius));
}

/* Blur background of homepage shortcut items */
@container (width > 200px) {
	[class*="shortcutItem--"]::after {
		backdrop-filter: blur(8px);
	}
}
