/*
{
  "name": "Blur",
  "author": "Nick Oates",
  "description": "Adds backdrop blur behind the player, title bar, and context menus."
}
*/

:root {
	--blur-background: color-mix(
		in srgb,
		var(--wave-color-solid-base-brighter),
		transparent 60%
	);
	--blur-radius: 16px;
}

#footerPlayer {
	backdrop-filter: blur(var(--blur-radius));
}

[data-type="page"],
.__NEPTUNE_PAGE {
	padding-bottom: 128px !important;
}

[class^="_containerRow_"] {
	max-height: none !important;
}

[class^="_mainContainer_"] {
	height: 100vh !important;
	background-color: inherit;
}

[class^="_bar_"] {
	position: absolute;
	z-index: 100;
	backdrop-filter: blur(var(--blur-radius));
}

[class^="_sidebarWrapper"],
[class^="_contentArea"],
#main {
	padding-top: 30px;
}

[class^="_contextMenu"]::before,
[class^="_subMenu_"]::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	backdrop-filter: blur(var(--blur-radius));
	border-radius: 9px;
	pointer-events: none;
	z-index: -5;
	background-color: var(--blur-background);
}

[class^="_contextMenu_"],
[class^="_subMenu_"] {
	position: relative;
	background-color: transparent;
}

#footerPlayer,
#sidebar,
[class^="_bar_"],
[class*="_audioQualityContainerHover_"]:hover,
[class*="_selectItem_"]:hover,
[class*="_createNewPlaylist_"]:hover {
	background-color: var(--blur-background) !important;
}

[class^="_sidebarWrapper_"] {
	padding-bottom: 96px;
}

#feedSidebar,
#playQueueSidebar,
[class*="_playQueueWithoutHeader_"] button {
	background-color: var(--blur-background);
	backdrop-filter: blur(var(--blur-radius));
}

/* Blur background of homepage shortcut items */
@container (width > 200px) {
	[class*="_shortcutItem_"]::after {
		backdrop-filter: blur(8px);
	}
}
